<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="pulse-external-accessory" version="1.0.2">

    <name>PulseExternalAccessory</name>
    <description></description>
    <license>Apache 2.0</license>
    <keywords>keywords</keywords>

    <repo>https://github.com/blakeparkinson/pulse-external-accessory.git</repo>
    <issue>https://github.com/blakeparkinson/pulse-external-accessory/issues</issue>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
        </engines>

    </platform>
    <platform name="ios">

        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
            <array>
                <string>com.alpinelabs.pulse</string>
            </array>
        </config-file>
    </platform>
</plugin>
